# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs
*.log

# Test artifacts
test-output.txt
test-results.txt
coverage/

# Docker
.Dockerfile.swp
docker-compose.override.yml

# OS
.DS_Store

# Env
.env