

node_modules
npm-debug.log
yarn-error.log
.env
.env.local


.git
.gitignore
.gitattributes

.vscode
.idea

*~


Thumbs.db

coverage

test/
tests/

docs/


logs

dist
build


Dockerfile

.dockerignore